jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
matplotlib==2.0.2
numpy==1.13.3
numpydoc==0.6.0
pandas==0.22.0
scikit-image==0.12.3
scikit-learn==0.19.1
scipy==1.0.0
spyder==3.2.8

